{% extends 'HousesApp/layout.html' %}
{% load static %}
{% load crispy_forms_filters %}

{% block content %}
<div class="container">
	<form  action="{% url 'house_delete' house.pk %}" method="post">
		{% csrf_token %}
		
		<h4>Tem Certeza que deseja eliminar esta casa?</h4>
		<p>Nota:Essa acção é irreversivel</p>
		<input type="submit" name="submit" value="Confirmar" class="btn btn-danger">
		<a href="{% url 'house_detail' house.pk %}" class="btn btn-secondary">Cancelar</a>
	</form>
</div>
{% endblock content %}