{% extends 'HousesApp/layout.html' %}

{% load static %}

{% block css %}
{% endblock css %}

{% block content %}

    <div class="container">
        <div class="col-md-2">
            <p>
                <a 
                    data-bs-toggle="collapse" 
                    href="#collapseExample" 
                    role="button" 
                    aria-expanded="false" 
                    aria-controls="collapseExample">
                        Filtrar
                </a>
            </p>
        </div>    
        
        <form action="{% url 'house_list' %}" method="get" class="collapse mb-4" id="collapseExample">
            <div class="row">
                <div class="col-md-3">
                    <label for="id_cidade" class="form-check-label">Provincia:</label>
                    <select class="form-select" name="cidade" id="id_cidade">
                        <option value="all">(Qualquer)</option>
                        <option value="Tete" {% if cidade == "Tete" %}selected=true{% endif %}>Tete</option>
                        <option value="Maputo" {% if cidade == "Maputo" %}selected=true{% endif %}>Maputo</option>
                        <option value="Gaza"{% if cidade == "Gaza" %}selected=true{% endif %}>Gaza</option>
                        <option value="Inhambane" {% if cidade == "Inhambane" %}selected=true{% endif %}>Inhambane</option>
                        <option value="Manica" {% if cidade == "Manica" %}selected=true{% endif %}>Manica</option>
                        <option value="Sofala" {% if cidade == "Sofala" %}selected=true{% endif %}>Sofala</option>
                        <option value="Zambezia" {% if cidade == "Zambezia" %}selected=true{% endif %}>Zambezia</option>
                        <option value="Nampula" {% if cidade == "Nampula" %}selected=true{% endif %}>Nampula</option>
                        <option value="Cabo Delgado" {% if cidade == "Cabo Delgado" %}selected=true{% endif %}>Cabo Delgado</option>
                        <option value="Niassa" {% if cidade == "Niassa" %}selected=true{% endif %}>Niassa</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="id_distrito" class="form-check-label">Distrito:</label>
                    <input type="text" value="{{distrito}}" name="distrito" id="id_distrito" class="form-control" placeholder="Qualquer">
                </div>
                
                <div class="col-md-3">
                    <label for="id_price_range" class="form-check-label">Preço:</label>
                    <select class="form-select" name="price_range" id="id_price_range">
                        <option value="all"><b>(Qualquer)</b></option>
                        <option value="low" {% if price_range == "low" %}selected=true{% endif%}>500 à 5.000 meticais</option>
                        <option value="medium" {% if price_range == "medium" %}selected=true{% endif%}>5.000 à 15.000 meticais</option>
                        <option value="high" {% if price_range == "high" %}selected=true{% endif%}>15.000 à 25.000 meticais</option>
                    </select>
                </div>

                <div class="col-md-3">
                    <label for="id_room_count">Número de Quartos</label>
                    <input type="number" value="{{room_count}}" name="room_count" id="id_room_count" class="form-control">
                </div>

                <div class="row mt-2">
                    <div class="col-md-10">
                        <button class="btn btn-sm btn-primary" type="submit">Actualizar</button>
                    </div>  
                </div>
                
            </div>
          </form>

        {% if houses.count <= 0 %}
            <div class="text-center">
                <h1 class="text-info">Nenhuma Casa Disponivel</h1>
                <h3>Se possui uma casa para aluguer, <a href="{% url 'house_create' %}">submita uma aqui</a></h3>
            </div>
        {% endif %}     
        <div class="row">
            {% for house in houses %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{% static 'img/house_preview_2.jpg' %}" alt="">
                    <div class="card-body">
                        <h3 class="card-title">Bairro {{ house.bairro}}, {{house.cidade}}{% if house.distrito %}/{{house.distrito}}{% endif %}</h4>
                        <h5 class="card-subtitle mb-2 text-muted proprietario">Proprietário: {{house.nome_do_proprietario}} {{house.sobrenome_do_proprietario}}</h5>
                        <div class="row casa text-muted">
                            <div class="col-md-4 ">
                                <img src="{% static 'img/icons/tipoDeCasa.png' %}" alt=""> = {{house.numero_de_divisoes}}
                            </div>
                            <div class="col-md-4 casa">
                                <img src="{% static 'img/icons/quartos.png' %}" alt="">
                                = 3
                            </div>
                            <div class="col-md-4 casa">
                                <img src="{% static 'img/icons/casasDebanho.png' %}" alt="">
                                = 3
                            </div>
                        </div>
                        <a href="{% url 'house_detail' house.pk %}" class="card-link">Ver mais</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}