{% extends 'layout.html' %}

{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            
            <div class="col-md-1">
            </div>

            <div class="col-md-10">
                <div class="row">
                    <div class="form-group col-md-2">
                        <a href="{% url 'house_list' %}">Voltar</a>                
                    </div>
                    {% if user == house.create_by_user %}
                    <div class="form-group col-md-2">
                        <a href="{% url 'house_update' house.pk %}">Modificar</a>
                    </div>
                    <div class="form-group col-md-2">
                        <a href="{% url 'house_delete' house.pk %}">Eliminar</a>           
                    </div>
                    <div class="form-group col-md-2">
                        <a href="{% url 'house_upload' house.pk %}">Addicionar Imagen</a>           
                    </div>
                    {% endif %}
                </div>

                <div class="carousel slide" id="carouselSite" data-ride="carousel">
                    <div class="carousel-inner">
                        <!--A Imagem sendo adicionada-->
                        <div class="carousel-item active">
                            <img 
                            	src="{% static 'img/house_preview_1_detail.png' %}" 
                            	class="img-fluid d-block imgSlide"
                                width="1000" 
                                height="600"
                            >
                            <div class="carousel-caption d-md-block destaque" >
                                <!--O Texto que acompanha a imagem-->
                                <div class="slideInfo">
                                    <h3 class="h3Slide">
                                    Casa com {{house.numero_de_divisoes}} divisões
                                	</h3>
                                </div>
                            </div>
                        </div>
                        {% for picture in house.pictures.all %}
                        <div class="carousel-item">
                            <img 
                                src="{{picture.picture.url}}" 
                                class="img-fluid d-block imgSlide" 
                                width="1000" 
                                height="600" 
                            >
                            <div class="carousel-caption d-md-block destaque" >
                                <!--O Texto que acompanha a imagem-->
                                <div class="slideInfo">
                                    <h3 class="h3Slide">
                                        {{picture.descriçao}}
                                    </h3>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="carousel-item">
                            <img 
                            	src="{% static 'img/house_preview_2_detail.png' %}" 
                            	class="img-fluid d-block imgSlide"
                                width="1000" 
                                height="600"
                            >

                            <div class="carousel-caption d-md-block destaque" >
                                <!--O Texto que acompanha a imagem-->
                                <div class="slideInfo">
                                   	<h3 class="h3Slide">
                                        Alugue agora por {{house.preço}} Mts
                                    </h3>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-control">
                            <a 
                                href="#carouselSite" 
                                class="carousel-control-prev" 
                                role="button"  
                                data-slide="prev">
                                    <span class="carousel-control-prev-icon"></span>
                                    <span class="sr-only">Anterior</span>
                            </a>

                            <a 
                                href="#carouselSite" 
                                class="carousel-control-next" 
                                role="button"  
                                data-slide="next">
                                    <span class="sr-only">Proximo</span>
                                    <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>

                    </div>
            </div>

            <a 
                class="mt-2 mb-2    " 
                data-bs-toggle="collapse" 
                href="#collapseExample" 
                role="button" 
                aria-expanded="false" 
                aria-controls="collapseExample">
                    <h3>Detalhes</h3>
            </a>

            <div class="collapse" style="margin-left: 20px;" id="collapseExample">
                <div class="row">
                    <div class="col-md-8">
                        <table class="table table-striped">
                            <tr>
                                <td><p class="descricao">Nome do Proprietário: </p></td>
                                <td><p class="descricao">{{house.nome_do_proprietario}} {{house.sobrenome_do_proprietario}}</p></td>
                            </tr>
                            <tr>
                                <td><p class="descricao">Contacto:</p></td>
                                <td>
                                    <p class="descricao">
                                        {{house.contacto_principal}}
                                        {% if house.contacto_secúndario %}
                                            ou {{house.contacto_secúndario}}
                                        {% endif %}
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td><p class="descricao strong">Localização da Residência:</p></td>
                                <td><p class="descricao">{{house.bairro}}, {% if house.distrito%}{{house.distrito}} - {% endif %}{{house.cidade}}</p></td>
                            </tr>
                            <tr>
                                <td><p class="descricao">Número de Divisões:</p></td>
                                <td><p class="descricao">{{house.numero_de_divisoes}}</p></td>
                            </tr>
                            <tr>
                                <td><p class="descricao">Vedada:</p></td>
                                <td><p class="descricao">{{house.vedada}}</p></td>
                            </tr>
                            <tr>
                                <td><p class="descricao">Mobiliada:</p></td>
                                <td><p class="descricao">{{house.mobiliada}}</p></td>
                            </tr>
                            <tr>
                                <td><p class="descricao">Renda:</p></td>
                                <td><p class="descricao">{{house.preço}} Mts</p></td>
                            </tr>
                            <tr>
                                <td><p class="descricao">Entrada:</p></td>
                                <td><p class="descricao">{{house.meses_adiantados}} Meses</p></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
    </div>
{% endblock content %}
